:root {
  --navy-: #0a192f;
  --light-navy: #112240;
  --green-: #64ffda;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --lightest-slate: #ccd6f6;
  --light-slate: #a8b2d1;
  --white: #e6f1ff;
}
main {
  margin: 6rem 10rem 0rem 10rem;
}
nav {
  justify-content: space-between;
}
nav ul {
  margin-right: 600px;
}
.blog-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}
h1 {
  font-size: 40px;
}
.blog-story p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  color: var(--white);
  margin-bottom: 100px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.time {
  display: flex;
  margin-top: 20px;
}
.time span {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 300;
}
span a {
  text-decoration: none;
  color: var(--green-);
  margin-right: 30px;
}
span a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  main {
    margin: 4rem 0.5rem 0rem 0.5rem;
  }
  .blog-story p {
    font-size: 16px;
  }
  h1 {
    font-size: 25px;
  }
  .time span {
    margin-right: 10px;
    font-size: 12px;
  }
  nav ul {
    margin-right: 0px;
  }

  .navbar {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: var(--light-navy);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
}
@media only screen and (min-width: 1023px) {
  nav ul {
    margin-right: 300px;
  }
}
@media only screen and (min-width: 1270px) {
  nav ul {
    margin-right: 640px;
  }
}

@media only screen and (max-width: 360px) {
  .blog-story p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 100px;
  }
  .time span {
    margin-right: 10px;
    font-size: 12px;
  }
}
